<html>
    <head>
        <title>Ent3rpR1s3 To0L5</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <ul class="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/eSign">E-sign</a></li>
                    <li><a href="/encrypt_data">Data sharing</a></li>
                    <li><a href="/share_files">File sharing</a></li>

                    {% if param == 0 %}
                        <li><a href="/signIn" class="signIn">Sign In</a></li>
                    {%  elif param == 1 %}
                        <li><a href="/signOut" class="link1">Sign Out</a></li>
                    {% endif %}

                </ul>
            </nav>
        </header>
        <h1>Enterprise<br>Tools</h1>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p class='welcome_msg'>{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
    </body>

    <script justify-content: center; src="static/js/py-script.js"></script>
</html>